<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.facebook.com/snackyio" target="_blank">
            <i class="fa fa-facebook-square"></i>
            Like
          </a>
        </li>
        <li>
          <a href="https://twitter.com/snackyio" target="_blank">
            <i class="fa fa-twitter"></i>
            Follow
          </a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="main">
  <%= video_tag("time", id: 'video_background', autoplay: true, loop: loop ) %>

  <div class="cover red" data-color="red"></div>

  <div class="container">
    <h1 class="logo cursive visible-xs">
      Snacky
    </h1>
    <h1 class="logo cursive hidden-xs">
      Snacky
    </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div class="content">
      <h4 class="motto">Bite-Sized, Actionable Insights Into Your Google Analytics</h4>
      <div class="subscribe">
        <h5 class="info-text">
          Sign up now to get on the list for Early Access.
        </h5>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center col-xs-12">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control transparent visible-xs" placeholder="Your email here...">
                <input type="email" class="form-control transparent lg hidden-xs" placeholder="Your email here...">
              </div>
              <button type="submit" class="btn btn-danger btn-fill">Sign Me Up</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="footer">
    <div class="container">
     Made with <i class="fa fa-heart heart"></i> by <a target="_blank" href="http://drewreynolds.me">Drew Reynolds</a>.</a>
   </div>
 </div> -->
</div>
